<div id="aboutView">
    <div class="container">
        <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Términos y Condiciones</div>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, laudantium, recusandae earum nostrum magni aut reprehenderit. Perferendis, consequatur, rerum, a, at cum inventore aliquid laboriosam velit vitae architecto neque quibusdam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, laudantium, recusandae earum nostrum magni aut reprehenderit. Perferendis, consequatur, rerum, a, at cum inventore aliquid laboriosam velit vitae architecto neque quibusdam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, laudantium, recusandae earum nostrum magni aut reprehenderit. Perferendis, consequatur, rerum, a, at cum inventore aliquid laboriosam velit vitae architecto neque quibusdam.</p>
  </div>
</div>
        <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, laudantium, recusandae earum nostrum magni aut reprehenderit. Perferendis, consequatur, rerum, a, at cum inventore aliquid laboriosam velit vitae architecto neque quibusdam.</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Ayuda<span class="glyphicon glyphicon-chevron-right pull-right"></span></li>
    <li class="list-group-item">Recomendar<span class="glyphicon glyphicon-chevron-right pull-right"></span></li>
    <li class="list-group-item">Valorar<span class="glyphicon glyphicon-chevron-right pull-right"></span></li>
    <li class="list-group-item">Creditos<span class="glyphicon glyphicon-chevron-right pull-right"></span></li>
  </ul>
</div>

        </div>
    </div>
</div>
</div>