<div id="aboutView">
    <div class="container">
        <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Consorcio M&oacute;vil</div>
  <div class="panel-body">
    <p>Sistema de comunicaci&oacute;n para administradores y consorcistas con interacciones utilitarias como bajada y pago de expensas, reservas de espacios, autorizaci&oacute;n de visitas, chat y encuestas.</p>
  </div>
</div>
        <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">T&eacute;rminos y Condiciones</div>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, laudantium, recusandae earum nostrum magni aut reprehenderit. Perferendis, consequatur, rerum, a, at cum inventore aliquid laboriosam velit vitae architecto neque quibusdam.</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Recomendar<span class="glyphicon glyphicon-chevron-right pull-right"></span></li>
    <li class="list-group-item">Valorar<span class="glyphicon glyphicon-chevron-right pull-right"></span></li>
    <li class="list-group-item">Cr&eacute;ditos<a href="http://www.diproach.com"><span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
  </ul>
</div>

        </div>
    </div>
</div>
</div>