<div id="homeView">
	<div class="container">
		<div class="homeButton">
			<p>Seleccionar Barrio
			<select name="barrio" id="">
				<option value="">Lomas de la carolina</option>
				<option value="">Las Delicias</option>
				<option value="">Fincas del Sur</option>
			</select>
			</p>
		</div>
		<div class="homeButton administradorClick">
			<span class="icon ion-clipboard"></span>
			<p>Administrador</p>
		</div>
		<div class="homeButton">
			<span class="icon ion-clock"></span>
			<p>Reserva</p>
		</div>
		<div class="homeButton">
			<span class="icon ion-person-stalker"></span>
			<p>Visita</p>
		</div>
		<div class="homeButton">
			<span class="icon ion-pizza"></span>
			<p>Delivery</p>
		</div>
	</div>
</div>
