<div id="homeView">
	<div class="homeSelect">
        <select class="form-control" name="barrio" id="countries">
        </select>
       <img src="assets/images/cincolomas.jpg" class="img-thumbnail" alt="">
    </div>
	<div class="container">
    <div class="buttonLine">
      <div class="homeButton expensesHomeButton">
      <div class="col-xs-2">
        <span class="glyphicon glyphicon-barcode"></span>
      </div>
      <div class="col-xs-10">
        <p>C&oacute;digo de pago de expensas</p>
      </div>
    </div>
  </div>
    <div class="buttonLine">
		<div class="homeButton administradorClick">
			<span class="icon ion-clipboard"></span>
			<% if(App.role == Constants.ROLE_USER){ %>
			<p>Administrador</p>
			<% } else { %>
			<p>Consorcistas</p>
			<% } %>
		</div>
		<div class="homeButton bookClick">
			<span class="icon ion-clock"></span>
			<p>Reserva</p>
		</div>
    </div>
    <div class="buttonLine">
		<div class="homeButton visitClick">
			<span class="icon ion-person-stalker"></span>
			<p>Visita</p>
		</div>
		<div class="homeButton deliveryClick">
			<span class="icon ion-pizza"></span>
			<p>Delivery</p>
		</div>
  </div>
	</div>
</div>
<script>
  //Home View toma el alto del Content View
  //var headerHeight = $(".viewNavigator_contentHolder").height();
  //$("#homeView").css("height",headerHeight);
  //showHeader();