<div id="homeView">
	<div class="container">
		<div class="homeButton">
			<p>Seleccionar Barrio
			<select name="barrio" id="">
				<option value="">Lomas de la carolina</option>
				<option value="">Lomas de la carolina</option>
				<option value="">Lomas de la carolina</option>
			</select>
			</p>
		</div>
		<div class="homeButton">
			<p><span class="glyphicon glyphicon-search"></span>Administrador</p>
		</div>
		<div class="homeButton">
			<p><span class="glyphicon glyphicon-search"></span>Reserva</p>
		</div>
		<div class="homeButton">
			<p><span class="glyphicon glyphicon-search"></span>Visita</p>
		</div>
		<div class="homeButton">
			<p><span class="glyphicon glyphicon-search"></span>Delivery</p>
		</div>
	</div>
</div>
