<div id="itemViewNewVisit">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
       <div class="col-xs-10">
        <div class="form-group">
          <input type="text" name="" id="inputName" class="form-control" value="" required="required" placeholder="Ingrese el nombre">
        </div>
      </div>
      <div class="col-xs-2">
        <span class="icon ion-ios7-plus"></span>
      </div>
      </div>
      <div class="row">
        <div class="form-group">
          <input type="text" name="" id="inputAddVisitor" class="form-control" value="" required="required"  placeholder="Agregar Invitado">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group fromInput">
            <input type="date" class="form-control" id="inputVisitDateFrom" placeholder="Desde">
          </div>
        </div>
        <div class="col-xs-6 toInput">
          <div class="form-group">
            <input type="date" class="form-control" id="inputVisitDateTo" placeholder="Hasta">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Observaciones..."></textarea>
        </div>
      </div>
      <button type="button" class="btn btn-warning btn-lg btn-block" id="btnSend">Enviar</button>
    </div>
  </div>
</div>
</div>
</div>