<div class="container">
  <% if (typeof(model.multiLanguage) != "undefined"){ %>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group btn-group-justified">

      	<% if (App.isLanguageSpanish()){ %>
        <a id="btn-language-es" class="btn btn-default active" role="button">Espa&ntilde;ol</a>
        <a id="btn-language-en" class="btn btn-default" role="button">Ingl&eacute;s</a>
        <% } else {%>
        <a id="btn-language-es" class="btn btn-default" role="button">Spanish</a>
        <a id="btn-language-en" class="btn btn-default active" role="button">English</a>
        <% } %>

      </div>
    </div>
  </div>
  <% } %>

  <div class="row">
  </div>
<div class="itemDescription">
  <p><%= App.translate(model, "description") %></p>
</div>

</div>