<div id="loginView">
	<div class="container">
		<div class="panel panel-default col-sm-8">
			<div class="panel-body">
				<img class="logo" src="assets/images/logo.png" alt="">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-12">
							<select class="form-control" name="roles" id="roles">
							</select>
							<hr>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="tel" class="form-control" id="inputPhone"
							placeholder="Tel&eacute;fono">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="email" class="form-control" id="inputEmail"
							placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="password" class="form-control" id="inputPassword"
							placeholder="Contrasena">
						</div>
					</div>
					<button type="button" class="btn btn-warning btn-lg btn-block" id="btnLogin">Ingresar</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
  //Home View toma el alto del Content View
  var headerHeight = $(".viewNavigator_contentHolder").height();
  $("#homeLogin").css("height",headerHeight);
  </script>
