<div id="loginView">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Ingrese a la App</div>
			<div class="panel-body">
				 <p>Ingrese con su tel&eacute;fono o su direcci&oacute;n de correo electr&oacute;nico</p>
			   <form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="col-sm-10">
					<input type="tel" class="form-control" id="inputPhone"
						placeholder="Tel&oacute;fono">
				</div>
			</div>
			<hr>
			<div class="form-group">
				<div class="col-sm-10">
					<input type="email" class="form-control" id="inputEmail"
						placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<input type="password" class="form-control" id="inputPassword"
						placeholder="Contraseña">
				</div>
			</div>
		</form>
			</div>
			<div class="panel-footer"><button type="button" class="btn btn-warning" id="btnLogin">Ingresar</button></div>
		</div>
	</div>
</div>
<script>
  //Home View toma el alto del Content View
  var headerHeight = $(".viewNavigator_contentHolder").height();
  $("#homeLogin").css("height",headerHeight);
</script>
